h1 {
  color: #0061ff;
  text-align: center;
  line-height: 10px;
  padding-top: 30px;
}

h3 {
  color: coral;
  text-align: center;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  background-color:whitesmoke;
}

p {
  text-indent: 25px;
}

img {
  width: 300px;
}